$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$screen-sm: 800px !default;
$border-color: #e5e5e5;
$bg-color: #EEE;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 10px 0;
  text-align: center;
  border-bottom: 1px solid $border-color;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.cursor-pointer:hover{
  cursor:pointer;
}

.post-margin{
  padding-top:10px;
  padding-bottom:10px;
}

.back-button-margin{
  margin-top:20px;
}

.list {
  background-color: $bg-color;
  border:1px solid $border-color;
  margin:10px 0px 10px 0;
}

.post{
  background-color: $bg-color;
  margin: 0px;
}

.list{
  .img-responsive{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Responsive: 800px and up */
@media screen and (max-width: $screen-sm) {
  h3{
    font-size: 19px;
    margin-top: 10px;
  }
}
