
<div class="form-group">
    <label>Filter by Tags</label>
    <input type="text" ng-keyup="showAll()" class="form-control" placeholder="Filter by Tags" ng-model="search.tags">
</div>
<div class="row list" ng-repeat="post in publicFeed | limitTo: itemsLimit() | filter:search">
    <div class="col-sm-3 col-md-2 col-xs-3">
        <img ng-click="showPost(post)" class="img-responsive cursor-pointer" src="{{ post.media.m }}"/>
    </div>
    <div class="col-sm-9 col-md-10 col-xs-9">
        <div class="row">
            <div class="col-xs-12">
                <h3 ng-click="showPost(post)" class="text-info cursor-pointer">{{ post.title | truncateTitle }}</h3>
            </div>
            <div class="col-sm-4 col-sm-push-4 col-xs-12">
                <p>Published: {{ post.published | ordinalDate}}</p>
            </div>
            <div class="col-sm-pull-4 col-sm-4 col-xs-8">
                <a href="{{ post.link | truncateLink }}">Author: {{ post.author | truncateAuthor}}</a>
            </div>
            <div class="col-sm-4 col-xs-4">
                <a href="{{ post.link }}">View on Flickr</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <div google-plus="post.link"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="publicFeed !== null">
    <div class="text-center">
        <button  ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()" type="button" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            Show more
        </button>
    </div>
</div>