
<div class="row post post-margin" ng-if="link !=null">

    <div class="col-sm-10 col-xs-12">
        <a href="{{ link }}"><h2 class="cursor-pointer" >{{ title }}</h2></a>
    </div>
    <div class="col-sm-2 col-xs-12">
        <div class="pull-right">
            <button ng-click="goToHome()" type="button" class="btn btn-info btn-lg back-button-margin">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                Back
            </button>
        </div>
    </div>
</div>
<div class="row post post-margin" ng-if="link !=null">
    <div class="col-sm-12 post-margin">
        <a href="{{ link | truncateLink }}">Author: {{ author | truncateAuthor}}</a>
        <span> | </span>
        <span>Published: {{ published | ordinalDate}}</span>
    </div>
</div>
<div class="row post post-margin" ng-if="link !=null">
    <div class="col-sm-12 post-margin">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <img class="img-responsive" src="{{ media }}"/>
            </div>
            <div class="col-sm-9 col-md-10">
                <p>{{title}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-2">
                <br/>
                <div class="text-center">
                    <div google-plus="link"></div>
                </div>
            </div>
            <div class="col-sm-9  col-md-10 ">
                <span>Tags: </span><span class="text-info" ng-repeat="tag in tags"> {{tag}} </span>
            </div>
        </div>
    </div>
</div>


